* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

#logo,
h1 {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  color: crimson;
  padding: 1rem;
  font-size: 2.8rem;
}

.search-form {
  display: flex;
}

.search-input,
.search-btn {
  font-size: 1.3rem;
  padding: 0.4rem;
  border: none;
  outline: none;
  border: 2px solid dimgray;
}

.search-btn {
  background: dimgray;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
