* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

i,
svg {
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

#logo,
h1 {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 3rem;
}

.search-form {
  display: flex;
}

.search-input,
.search-btn {
  font-size: 1.3rem;
  padding: 0.4rem;
  border: none;
  border-radius: 0;
  outline: none;
  border: 2px solid #d9a7c7;
}

.search-btn {
  background: #d9a7c7;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.gallary {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 5rem;
  column-gap: 2rem;
  padding: 0 2rem;
}

.gallary-img {
  width: 100%;
  height: 100%;
}

.gallary-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: #222;
  font-size: 0.9rem;
}
.gallary-info a {
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease;
}

.gallary-info a:hover {
  color: white;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.more {
  border: none;
  outline: none;
  padding: 0.7rem 3rem;
  font-size: 1.1rem;
  color: white;
  background: #d9a7c7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more:hover {
  background: white;
  color: #d9a7c7;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #d9a7c7;
}
