* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

i,
svg {
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

#logo,
h1 {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 3rem;
}

.search-form {
  display: flex;
}

.search-input,
.search-btn {
  font-size: 1.3rem;
  padding: 0.4rem;
  border: none;
  outline: none;
  border: 2px solid #d9a7c7;
}

.search-btn {
  background: #d9a7c7;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
